@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align: center; margin-top: 20vh;">
    <img src="@Url.Content("~/images/coffee.png")" alt="Logo" style="width: 220px; height: 220px; margin-right: 5px;">
    <h1 class="display-4 blink" style="font-size: 3rem;"> - Cafeteria do Gusta - </h1>
    <h2>Central de Gerenciamento</h2>

    <a href="http://localhost:5217/Products">Products</a> -
    <a href="http://localhost:5217/Orders">Orders</a> -
    <a href="http://localhost:5217/Orders/OrderHistory">History</a> -
    <a href="http://localhost:5217/Home/Privacy">Privacy</a>

    <style>
        /* Animação de piscar */
        @@keyframes blink {
            0%, 50%, 100% { opacity: 1; }
            25%, 75% { opacity: 0; }
        }

        .blink {
            animation: blink 5.5s infinite;
        }
    </style>
</div>